### Task 4.10 - Part 1 continued

##### Table of Contents:
5.	The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\Jay\Documents\Instacart Basket Analysis'

In [3]:
# import prepared data
df = pd.read_pickle(os.path.join(path, '02 Data Sets', 'Prepared Data', 'df_freq_cust.pkl'))

In [4]:
df.shape

(30993489, 34)

In [5]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,frequency_flag,gender,state,age,date_joined,dependants,family_status,income,region,exclusion_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer

###### Recent exclusion_flag data conflicts with previous frequency_flag.

In [6]:
# Drop frequency_flag column
df = df.drop(columns = ['frequency_flag'])

In [7]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,frequency,gender,state,age,date_joined,dependants,family_status,income,region,exclusion_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,20.5,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,20.5,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,20.5,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,20.5,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,20.5,Female,Alabama,31,2/17/2019,3,married,40423,South,Frequent Customer

5.	The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

###### Set age groups & create variable

In [8]:
# Check customer age ranges
df['age'].value_counts().sort_index()

18    478848
19    496657
20    480636
21    489613
22    491315
       ...
77    478495
78    471475
79    508850
80    493150
81    486346
Name: age, Length: 64, dtype: int64

In [10]:
# Set age groups 
age_group = []

for value in df['age']:
    if value <= 29:
        age_group.append('18-29')
    elif (value > 29) and (value <= 39):
        age_group.append('30-39')
    elif (value > 39) and (value <= 49):
        age_group.append('40-49')
    elif (value > 49) and (value <= 59):
        age_group.append('50-59')
    elif (value > 59) and (value <= 69):
        age_group.append('60-69')
    elif (value > 69) and (value <= 79):
        age_group.append('70-79')
    elif (value > 79):
        age_group.append('80+')    
    else:
        result.append('Not in age group')

In [11]:
# Create age_group column
df['age_group'] = age_group

In [12]:
# confirm results
df['age_group'].value_counts().sort_index()

18-29    5823190
30-39    4851781
40-49    4887799
50-59    4846544
60-69    4766300
70-79    4838379
80+       979496
Name: age_group, dtype: int64

###### Set income brackets & create variable

In [13]:
# Check customer income ranges
df['income'].value_counts().sort_index()

25903      20
25911      28
25937      39
25941      31
25955     392
         ...
584097    826
590790     54
591089    176
592409    318
593901    640
Name: income, Length: 96070, dtype: int64

In [20]:
# Set income brackets
income = []

for value in df['income']:
    if value <= 29999: 
        income.append('0-29999')
    elif (value > 29999) and (value <= 49999):
        income.append('030000-49999')
    elif (value > 49999) and (value <= 69999):
        income.append('050000-69999')
    elif (value > 69999) and (value <= 99999):
        income.append('070000-99999')
    elif (value > 99999) and (value <= 199999):
        income.append('100000-199999')
    elif (value > 199999) and (value <= 299999):
        income.append('200000-299999')
    elif (value > 299999) and (value <= 399999):
        income.append('300000-399999')
    elif (value > 399999) and (value <= 499999):
        income.append('400000-499999')
    elif (value >= 500000):
        income.append('500000+')
    else: 
        income.append('other')

In [21]:
# Create income_range column
df['income_range'] = income

In [22]:
# Check results
df['income_range'].value_counts().sort_index()

0-29999            194024
030000-49999      3172195
050000-69999      5162823
070000-99999      8244626
100000-199999    13965476
200000-299999      154266
300000-399999       53080
400000-499999       27929
500000+             19070
Name: income_range, dtype: int64

###### Create parental status flags

In [23]:
# check dependant numbers
df['dependants'].value_counts().sort_index()

0    7747183
1    7726129
2    7740539
3    7779638
Name: dependants, dtype: int64

In [25]:
# create flag for parent
df.loc[(df['dependants'] >= 1), 'parental_status'] = 'Parent'

In [26]:
# create flag for non-parent
df.loc[(df['dependants'] == 0), 'parental_status'] = 'Non-parent'

In [27]:
# Check results
df['parental_status'].value_counts(dropna = False)

Parent        23246306
Non-parent     7747183
Name: parental_status, dtype: int64

###### Create day of week variable

In [28]:
# Check day of week counts
df['orders_day_of_week'].value_counts().sort_index()

0    5913988
1    5417154
2    4028561
3    3673006
4    3628326
5    4037411
6    4295043
Name: orders_day_of_week, dtype: int64

Order counts indicate weekend days as 0 & 1

In [29]:
# Create weekday column
df.loc[df['orders_day_of_week'] == 0, 'weekday'] = 'Saturday'
df.loc[df['orders_day_of_week'] == 1, 'weekday'] = 'Sunday'
df.loc[df['orders_day_of_week'] == 2, 'weekday'] = 'Monday'
df.loc[df['orders_day_of_week'] == 3, 'weekday'] = 'Tuesday'
df.loc[df['orders_day_of_week'] == 4, 'weekday'] = 'Wednesday'
df.loc[df['orders_day_of_week'] == 5, 'weekday'] = 'Thursday'
df.loc[df['orders_day_of_week'] == 6, 'weekday'] = 'Friday'

In [30]:
# Check order totals for weekdays 
df['weekday'].value_counts().sort_index()

Friday       4295043
Monday       4028561
Saturday     5913988
Sunday       5417154
Thursday     4037411
Tuesday      3673006
Wednesday    3628326
Name: weekday, dtype: int64

###### Create variable for day section

In [31]:
# Check order count by hour
df['order_hour_of_day'].value_counts().sort_index()

0      208217
1      109706
2       65744
3       48835
4       50803
5       84515
6      281308
7      864083
8     1660909
9     2366074
10    2652367
11    2617288
12    2498043
13    2541577
14    2570258
15    2538299
16    2415879
17    1984111
18    1552568
19    1194931
20     931757
21     763821
22     607557
23     384839
Name: order_hour_of_day, dtype: int64

In [33]:
# Set day time portions
result = []

for value in df['order_hour_of_day']:
    if (value > 4) and (value <= 9):
        result.append('Morning')
    elif (value > 9) and (value <= 14):
        result.append('Mid-day')
    elif (value > 14) and (value <= 19):
        result.append('Afternoon')
    elif (value > 19) and (value <= 23):
        result.append('Evening')
    else: 
        result.append('Late-nite')

In [34]:
# Create day_section column
df['day_section'] = result

In [35]:
# check results
df['day_section'].value_counts()

Mid-day      12879533
Afternoon     9685788
Morning       5256889
Evening       2687974
Late-nite      483305
Name: day_section, dtype: int64

In [36]:
# Export data to pkl
df.to_pickle(os.path.join(path, '02 Data Sets','Prepared Data', 'df_2.pkl'))