### Task 4.6

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Jay\Documents\Instacart Basket Analysis'

In [3]:
# import orders_products_combined data
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data Sets', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods.shape

(32434489, 12)

In [5]:
df_ords_prods.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [6]:
df_ords_prods = df_ords_prods.drop(columns = '_merge')

In [7]:
# import products_checked data
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data Sets', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [8]:
df_prods_clean.shape

(49672, 6)

In [9]:
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
# remove ambiguous column
df_prods_clean = df_prods_clean.drop(columns = ['Unnamed: 0'])

In [11]:
df_prods_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

#### 5. Combine orders_products_combined dataframe with products data set:

In [16]:
# Merge above dataframes
df_ords_prods_merged = df_ords_prods.merge(df_prods_clean, on = ['product_id'], how = 'left', indicator = True)

In [17]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [18]:
df_ords_prods_merged.shape

(32435059, 16)

#### 6. Confirm the results of the merge using the merge flag:

In [19]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only        30200
right_only           0
Name: _merge, dtype: int64

In [20]:
# Export data to pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data Sets','Prepared Data', 'orders_products_merged.pkl'))