In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\Jay\Documents\Instacart Basket Analysis'

In [3]:
# import prepared data
df = pd.read_pickle(os.path.join(path, '02 Data Sets', 'Prepared Data', 'ords_prods_cust.pkl'))

In [4]:
df.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,...,frequency,frequency_flag,last_name,gender,state,age,date_joined,dependants,family_status,income
0,2539329,1,prior,1,2,8,NaN,True,196,1,...,20.5,Non-frequent customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2539329,1,prior,1,2,8,NaN,True,14084,2,...,20.5,Non-frequent customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,2539329,1,prior,1,2,8,NaN,True,12427,3,...,20.5,Non-frequent customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2539329,1,prior,1,2,8,NaN,True,26088,4,...,20.5,Non-frequent customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,2539329,1,prior,1,2,8,NaN,True,26405,5,...,20.5,Non-frequent customer,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [5]:
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'price_range_loc',
       'Busiest day', 'Busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'spending', 'spending_flag', 'frequency',
       'frequency_flag', 'last_name', 'gender', 'state', 'age', 'date_joined',
       'dependants', 'family_status', 'income'],
      dtype='object')

In [6]:
df['prices'].max()

99999.0

In [7]:
df.loc[df['prices'] >100, 'prices'] = np.nan

In [8]:
df['prices'].max()

25.0

In [9]:
# drop column
df = df.drop('eval_set', 1)

C:\Users\Jay\AppData\Local\Temp/ipykernel_22060/2507860201.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop('eval_set', 1)

In [10]:
# Export data to pkl
df.to_pickle(os.path.join(path, '02 Data Sets','Prepared Data', 'ords_prods_all.pkl'))